@keyframes scroll-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-animation-copy {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
