@charset "utf-8";

@import url("reset.css");
@import url("font.css");
@import url("define.css");
@import url("animation.css");

body {
  line-height: normal;
}

/* header */
.header {
  width: 358px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 97;
  width: var(--header-width);
  padding: 0 52px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease-out 0.25s;
}

.header#Section01 {
  color: #fff;
  background-color: var(--color-red);
}

.header#Section02 {
  color: #000;
  background-color: var(--color-yellow2);
}

.header#Section03 {
  color: #000;
  background-color: #fff;
}

.header#Section04 {
  color: #000;
  background-color: var(--color-yellow1);
}

.header#Section05 {
  color: #fff;
  background-color: var(--color-red);
}

.header .header-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.header .header-wrap a {
  display: block;
}
.header .header-wrap a h1 {
  font-family: "BebasNeue";
  font-size: var(--heading-01-size);
  line-height: var(--heading-01-lineheight);
}
.header .header-wrap .search-container {
  position: relative;
  display: flex;
  width: 254px;
  height: 50px;

  font-family: var(--captioin-01-font);
  font-weight: var(--captioin-01-weight);
  font-size: var(--captioin-01-size);
  line-height: var(--captioin-01-lineheight);
}

.header .header-wrap .search-container input[type="text"] {
  width: 100%;
  padding-left: 50px;
  border-bottom: 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  transition: all 0.5s ease-out 0.25s;
  font-size: 20px;
}

.header .header-wrap .search-container .search-button {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  transition: all 0.5s ease-out 0.25s;
}

.header#Section01 .header-wrap .search-container input[type="text"],
.header#Section01 .header-wrap .search-container .search-button {
  color: #fff;
  background-color: var(--color-red);
}

.header#Section02 .header-wrap .search-container input[type="text"],
.header#Section02 .header-wrap .search-container .search-button {
  color: #000;
  background-color: var(--color-yellow2);
}
.header#Section03 .header-wrap .search-container input[type="text"],
.header#Section03 .header-wrap .search-container .search-button {
  color: #000;
  background-color: #fff;
}

.header#Section04 .header-wrap .search-container input[type="text"],
.header#Section04 .header-wrap .search-container .search-button {
  color: #000;
  background-color: var(--color-yellow1);
}

.header#Section05 .header-wrap .search-container input[type="text"],
.header#Section05 .header-wrap .search-container .search-button {
  color: #fff;
  background-color: var(--color-red);
}

.header .header-wrap .search-container .search-button .img-wrap {
  position: relative;
  width: 24px;
  height: 24px;
}

.header .header-wrap .search-container .search-button .img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: all 0.5s ease-out 0.25s;
}

.header#Section01
  .header-wrap
  .search-container
  .search-button
  .img-wrap
  #search-black,
.header#Section05
  .header-wrap
  .search-container
  .search-button
  .img-wrap
  #search-black {
  opacity: 0;
}

.header#Section02
  .header-wrap
  .search-container
  .search-button
  .img-wrap
  .icon-search-black,
.header#Section03
  .header-wrap
  .search-container
  .search-button
  .img-wrap
  #search-black,
.header#Section04
  .header-wrap
  .search-container
  .search-button
  .img-wrap
  #search-black {
  opacity: 1;
}

.header#Section01
  .header-wrap
  .search-container
  .search-button
  .img-wrap
  #search-white,
.header#Section05
  .header-wrap
  .search-container
  .search-button
  .img-wrap
  #search-white {
  opacity: 1;
}

.header#Section02 .search-container .search-button .img-wrap #search-white,
.header#Section03 .search-container .search-button .img-wrap #search-white,
.header#Section04 .search-container .search-button .img-wrap #search-white {
  opacity: 0;
}

.header .nav {
  width: 100%;
}

.header .nav .gnb {
  width: 100%;
}

.header .header-wrap .nav .gnb li {
  font-family: "BebasNeue";
  font-size: var(--heading-02-size);
  line-height: var(--heading-02-lineheight);
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  height: 100%;
}

.header .header-wrap .nav .gnb li span {
  display: block;
  width: 0%;
  height: 100%;
  border-bottom: 3px solid;
  border-top: none;
  border-left: none;
  border-right: none;
}

.header .header-wrap .nav .gnb li:hover span {
  width: 100%;
  transition: width 0.3s linear;
}

.header#Section01 .header-wrap .nav .gnb li {
}

.header .header-wrap .nav .gnb li:last-child {
  margin: 0;
}

.header .header-wrap .nav .gnb li a {
  display: block;
}

.header .header-wrap .sns {
  position: relative;

  width: 40px;
  height: 40px;
}

.header .header-wrap .sns a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.header#Section01 .header-wrap .sns a #instargram-black {
  opacity: 0;
}

.header#Section02 .header-wrap .sns a #instargram-black,
.header#Section03 .header-wrap .sns a #instargram-black,
.header#Section04 .header-wrap .sns a #instargram-black {
  opacity: 1;
}

.header#Section01 .header-wrap .sns a #instargram-white {
  opacity: 1;
}

.header#Section02 .header-wrap .sns a #instargram-white,
.header#Section03 .header-wrap .sns a #instargram-white,
.header#Section04 .header-wrap .sns a #instargram-white {
  opacity: 0;
}

.header .header-wrap .sns a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-out 0.25s;
}

.slide-image {
  width: 1920px;
  height: 50px;
  background-color: #000;
  overflow: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 99;
}

.slide-image .track {
  position: absolute;
  display: flex;
  gap: 100px;
  width: max-content;
  animation: scroll-animation 60s linear infinite;
}

.slide-image .track-copy {
  animation: scroll-animation-copy 60s linear infinite;
}

.slide-image .track li {
  white-space: nowrap;
  width: 130px;
}

.slide-image ul li img {
  width: 100%;
  object-fit: cover;
}

.header-top {
  width: 100%;
  padding: 0 30px;
  position: fixed;
  align-items: center;
  z-index: 99;
  margin-top: 50px;
  display: none;
  justify-content: space-between;
}

.header-top a {
  display: block;
}

.header-top h1 {
  font-size: 56px;
  font-family: "BebasNeue";
  color: #fff;
}

/*  */
.btn-menu {
  /* position: fixed; */
  /* margin: auto; */
  width: 50px;
  height: 50px;
  /* display: flex
; */
  /* z-index: 99; */
}

.btn-menu-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-menu-wrap:hover {
  cursor: pointer;
}

.hambergerIcon {
  height: 10px;
  width: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  background-color: #4a2545;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all ease 0.5s;
}

.hambergerIcon::before,
.hambergerIcon::after {
  content: "";
  position: absolute;
  height: inherit;
  border-radius: inherit;
  background-color: inherit;
  margin: auto;
  width: 50%;
  transition: all ease 0.5s;
}
.hambergerIcon::before {
  top: -20px;
  left: 0;
  transform-origin: left;
}
.hambergerIcon::after {
  bottom: -20px;
  right: 0;
  transform-origin: right;
}

.open {
  transform: translate(-50%, -50%) rotate(135deg);
}
.open::before {
  top: 0;
  transform: translateX(100%) rotate(-90deg);
}
.open::after {
  bottom: 0;
  transform: translateX(-100%) rotate(-90deg);
} /*# sourceMappingURL=hamberger.css.map */

@media screen and (max-width: 1800px) {
  .header {
    display: none;
  }

  .header-top {
    display: flex;
  }
  
}
