@charset "utf-8";

@import url("reset.css");
@import url("font.css");
@import url("define.css");

body {
  line-height: normal;
}

.header {
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: var(--header-width);
  padding: 0 52px;
  display: flex;
  align-items: center;
}

.header#Section01 {
  color: #fff;
  background-color: var(--color-red);
}

.header#Section02 {
  color: #000;
  background-color: var(--color-yellow2);
}

.header#Section03 {
  color: #000;
  background-color: #fff;
}

.header .header-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.header a {
  display: block;
}
.header a h1 {
  font-family: "BebasNeue";
  font-size: var(--heading-01-size);
  line-height: var(--heading-01-lineheight);
}
.header .search-container {
  position: relative;
  display: flex;
  width: 254px;
  height: 50px;
}

.header .search-container input[type="text"] {
  width: 100%;
  padding-left: 50px;
}

.header .search-container .search-button {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
}

.header#Section01 .search-container input[type="text"],
.header#Section01 .search-container .search-button {
  color: #fff;
  background-color: var(--color-red);
}

.header#Section02 .search-container input[type="text"],
.header#Section02 .search-container .search-button {
  color: #000;
  background-color: var(--color-yellow2);
}
.header#Section03 .search-container input[type="text"],
.header#Section03 .search-container .search-button {
  color: #000;
  background-color: #fff;
}

.header .nav {
}

.header .nav .gnb {
}

.header .nav .gnb li {
  display: block;
  font-family: "BebasNeue";
  font-size: var(--heading-02-size);
  line-height: var(--heading-02-lineheight);
  margin-bottom: 10px;
}

.header .nav .gnb li:last-child {
  margin: 0;
}

.header .nav .gnb li a {
  display: block;
}

#footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
}
