@charset "uft-8";

@import url("reset.css");
@import url("font.css");
@import url("define.css");
@import url("common.css");

#fullpage {
  padding-left: var(--header-width);
}

.inner {
  max-width: 1562px;
  width: calc(100% - 52px);
  padding: 0 52px;
  margin: 0 auto;
}

#section0 {
}

#section0 .inner .list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

#section0 .inner .list .main_visual {
  position: relative;
  max-width: 1458px;
  width: 100%;
}

#section0 .inner .list .main_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

#section0 .inner .list .text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #fff;
}

#section0 .inner .list .text h2 {
  font-family: var(--heading-04-font);
  font-size: var(--heading-04-size);
  text-align: var(--heading-04-lineheight);
}

#section0 .inner .list .text h2 span {
  color: #ffc83a;
}

#section0 .inner .list .text p {
  font-family: var(--body-02-font);
  font-weight: var(--body-02-weight);
  font-size: var(--body-02-size);
  line-height: var(--body-02-lineheight);
  white-space: nowrap;
}

#section1 {
}

#section1 .inner .text {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: pink;
}

#section1 .inner .text .text-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: hotpink;
}

#section1 .inner .text .text-title h2 {
  font-family: var(--heading-03-font);
  font-size: var(--heading-03-size);
  line-height: var(--heading-03-lineheight);
}

#section1 .inner .text .text-title p {
  font-family: var(--body-04-font);
  font-weight: var(--body-04-weight);
  font-size: var(--body-04-size);
  line-height: var(--body-04-lineheight);
}

#section1 .inner .text .text-morepage {
  font-family: var(--heading-06-font);
  font-size: var(--heading-06-size);
  line-height: var(--heading-06-lineheight);
}

#section1 .inner .text .text-morepage a {
  display: block;
}

#section1 .inner .list {
  margin-top: 60px;
  max-width: 1406px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: red;
}

#section1 .inner .list .item {
  display: block;
  max-width: 286px;

  width: 24%;
  background-color: blue;
}

#section1 .inner .list .item li {
  width: 100%;
  height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: green;
}

#section1 .inner .list .item li .imagebox {
  width: 100%;
  height: 286px;
}

#section1 .inner .list .item li .imagebox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section1 .inner .list .item li .item-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#section1 .inner .list .item li h3 {
  font-family: var(--body-01-font);
  font-size: var(--body-01-size);
  line-height: var(--body-01-lineheight);
  text-align: center;
  color: #9c6144;
}
#section1 .inner .list .item li p {
  height: 70px;
  font-family: var(--body-06-font);
  font-weight: var(--body-06-weight);
  font-size: var(--body-06-size);
  line-height: var(--body-06-lineheight);
  text-align: center;
}
#section1 .inner .list .item li strong {
  display: block;
  font-family: var(--body-03-font);
  font-size: var(--body-03-size);
  line-height: var(--body-03-lineheight);
  text-align: center;
  color: #d51811;
}

#section2 {
}

#section2 .inner {
}
#section2 .inner .list {
  /* width: 91.99%; */

  /* padding-bottom: 47.69%; */
  max-width: 1437px;
  width: 100%; /* 부모 요소에 따라 크기 조정 */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

#section2 .inner .list .text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

#section2 .inner .list .text h2 {
  font-family: var(--heading-03-font);
  font-size: var(--heading-03-size);
  line-height: var(--heading-03-lineheight);
  text-align: center;
}
#section2 .inner .list .text p {
  font-family: var(--body-04-font);
  font-weight: var(--body-04-weight);
  font-size: var(--body-04-size);
  line-height: var(--body-04-lineheight);
  text-align: center;
}
#section2 .inner .list .text a {
  max-width: 286px;
  width: 47.69%;
  height: 80px;
  background-color: var(--color-yellow1);
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

#section2 .inner .list .text a {
  font-family: var(--button-font);
  font-weight: var(--button-weight);
  font-size: var(--button-size);
  line-height: var(--button-lineheight);
  text-align: center;
}

#section2 .inner .list .imagebox {
  max-width: 745px;
}

#section2 .inner .list .imagebox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section3 {
}
#section3 .inner {
}
#section3 .inner .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1437px;
  width: 91.99%;
}
#section3 .inner .list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  max-width: 439px;
  width: 100%;
  height: 703px;
}
#section3 .inner .list .item img {
  object-fit: cover;
}
#section3 .inner .list .item .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#section3 .inner .list .item .text h2 {
  font-family: var(--heading-05-font);
  font-size: var(--heading-05-size);
  line-height: var(--heading-05-lineheight);
  text-align: center;
}
#section3 .inner .list .item .text p {
  font-family: var(--body-05-font);
  font-weight: var(--body-05-weight);
  font-size: var(--body-05-size);
  line-height: var(--body-05-lineheight);
  text-align: center;
  white-space: nowrap;
}
#section3 .inner .list .item a {
  display: block;
  width: 97.37%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  font-family: var(--button-font);
  font-weight: var(--button-weight);
  font-size: var(--button-size);
  line-height: var(--button-lineheight);
  text-align: center;
}

#section4 {
  color: #fff;
}

#section4 .inner {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

#section4 .inner .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section4 .inner .title h1 {
  font-family: var(--heading-01-font);
  font-size: var(--heading-01-size);
  line-height: var(--heading-01-lineheight);
}
#section4 .inner .text {
  display: flex;
  justify-content: space-between;
}

#section4 .inner .left {
}
#section4 .inner .left .document {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#section4 .inner .left .document strong {
  font-family: var(--body-03-font);
  font-size: var(--body-03-size);
  line-height: var(--body-03-lineheight);
}
#section4 .inner .text .right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#section4 .inner .text .right .company {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#section4 .inner .text .right .company strong {
  font-family: var(--body-05-font);
  font-weight: var(--body-05-weight);
  font-size: var(--body-05-size);
  line-height: var(--body-05-lineheight);
}
#section4 .inner .text .right .company p {
  font-family: var(--body-05-font);
  font-weight: var(--body-05-weight);
  font-size: var(--body-05-size);
  line-height: var(--body-05-lineheight);
}

#section4 .inner .text .right .tel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#section4 .inner .text .right .tel p {
  font-family: var(--body-05-font);
  font-weight: var(--body-05-weight);
  font-size: var(--body-05-size);
  line-height: var(--body-05-lineheight);
}
#section4 .inner .copyright {
}
#section4 .inner .copyright p {
  font-family: var(--footer-01-font);
  font-size: var(--footer-01-size);
  line-height: var(--footer-01-lineheight);
}

@media screen and (max-width: 1675px) {
  #section1 .inner .list .item li h3 {
    font-family: "HakgyoansimAllimjang-R";
    font-size: var(--body-03-size);
    line-height: var(--body-03-lineheight);
  }

  #section1 .inner .list .item li p {
  }
}

@media screen and (max-width: 1353px) {
  #section0 .inner .list .text h2 {
    font-family: var(--heading-05-font);
    font-size: var(--heading-05-size);
    text-align: var(--heading-05-lineheight);
  }

  #section0 .inner .list .text p {
    font-family: var(--body-05-font);
    font-weight: var(--body-05-weight);
    font-size: var(--body-05-size);
    line-height: var(--body-05-lineheight);
  }

  /*  */
  #section1 .inner .list {
    width: 50%;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1060px) {
  #section0 .inner .list .text p {
    font-family: var(--body-06-font);
    font-weight: var(--body-06-weight);
    font-size: var(--body-06-size);
    line-height: var(--body-06-lineheight);
  }
}

@media screen and (max-width: 1670px) {
  #fullpage {
    padding: 0;
  }
  .inner {
    max-width: 1920px;
    width: calc(100% - 52px);
    padding: 0 52px;
    margin: 0 auto;
  }
}
