@charset "uft-8";

@import url("reset.css");
@import url("font.css");
@import url("define.css");
@import url("common.css");

#fullpage {
  padding-left: var(--header-width);
}

.inner {
  max-width: 1562px;
  width: calc(100% - 52px);
  padding: 52px;
  margin: 0 auto;
}

#section0 {
}

#section0 .inner .list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

#section0 .inner .list .main_visual {
  width: 100%;
}

#section0 .inner .list .main_visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

#section0 .inner .list .text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #fff;
}

#section0 .inner .list .text h2 {
  font-family: "HakgyoansimAllimjang-B";
  font-size: 72px;
  line-height: calc(72px * var(--lineheight));
}

#section0 .inner .list .text h2 span {
  color: #ffc83a;
}

#section0 .inner .list .text p {
  font-family: var(--body-01-font);
  font-weight: var(--body-01-weight);
  font-size: var(--body-01-size);
  line-height: calc(var(--body-01-size) * var(--lineheight));
}

#section1 {
}

#section1 .inner .text {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#section1 .inner .text .text-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#section1 .inner .text .text-title h2 {
  font-family: "HakgyoansimAllimjang-B";
  font-size: 40px;
  line-height: calc(40px * var(--lineheight));
}

#section1 .inner .text .text-title p {
  font-family: "KoPubWorldDotum";
  font-weight: 500;
  font-size: 24px;
  line-height: calc(24px * var(--lineheight));
}

#section1 .inner .text .text-morepage {
  font-family: var(--title-02-font);
  font-size: var(--title-03-size);
  line-height: calc(var(--title-03-size) * var(--lineheight));
}

#section1 .inner .text .text-morepage a {
  display: block;
}

#section1 .inner .list {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#section1 .inner .list .item {
  display: block;
  width: 24%;
}

#section1 .inner .list .item li {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#section1 .inner .list .item li .imagebox {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

#section1 .inner .list .item li .imagebox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#section1 .inner .list .item li .item-info {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

#section1 .inner .list .item li h3 {
  font-family: var(--title-03-font);
  font-size: var(--title-03-size);
  line-height: calc(var(--title-03-size) * var(--lineheight));
  text-align: center;
  color: #9c6144;
}
#section1 .inner .list .item li p {
  font-family: var(--body-04-font);
  font-weight: var(--body-04-weight);
  font-size: var(--body-04-size);
  line-height: calc(var(--body-04-size) * var(--lineheight));
  text-align: center;
  word-break: keep-all;
}
#section1 .inner .list .item li strong {
  display: block;
  font-family: "HakgyoansimAllimjang-B";
  font-size: 24px;
  line-height: calc(24px * var(--lineheight));
  text-align: center;
  color: #d51811;
}

#section2 {
}

#section2 .inner {
}
#section2 .inner .list {
  /* width: 91.99%; */

  /* padding-bottom: 47.69%; */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

#section2 .inner .list .text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

#section2 .inner .list .text h2 {
  font-family: var(--heading-02-font);
  font-size: var(--heading-02-size);
  line-height: calc(var(--heading-02-size) * var(--lineheight));
  text-align: center;
}
#section2 .inner .list .text p {
  font-family: "KoPubWorldDotum";
  font-weight: 500;
  font-size: 24px;
  line-height: calc(24px * var(--lineheight));
  word-break: keep-all;

  text-align: center;
}
#section2 .inner .list .text a {
  max-width: 286px;
  width: 47.69%;
  height: 80px;
  background-color: var(--color-yellow1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#section2 .inner .list .text a {
  font-family: var(--button-font);
  font-weight: var(--button-weight);
  font-size: var(--button-size);
  line-height: calc(var(--button-size) * var(--lineheight));
  text-align: center;
}

#section2 .inner .list .imagebox {
  max-width: 745px;
}

#section2 .inner .list .imagebox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section3 {
}
#section3 .inner {
}
#section3 .inner .list {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  /* width: 91.99%; */

  width: 100%;
}
#section3 .inner .list .item {
  display: flex;
  flex-direction: column;

  gap: 0px;
  width: 29%;
  /* height: 703px; */
  height: 100%;
}

#section3 .inner .list .imagebox {
  width: 100%;
}
#section3 .inner .list .item img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 40px;
}
#section3 .inner .list .item .text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#section3 .inner .list .item .text h2 {
  font-size: var(--title-02-size);
  font-family: var(--title-02-font);
  line-height: calc(var(--title-02-size) * var(--lineheight));
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
#section3 .inner .list .item .text p {
  font-family: var(--body-03-font);
  font-weight: var(--body-03-weight);
  font-size: var(--body-03-size);
  line-height: calc(var(--body-03-size) * var(--lineheight));
  text-align: center;
  word-break: keep-all;

  margin-bottom: 40px;
}
#section3 .inner .list .item a {
  display: block;
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  font-family: var(--button-font);
  font-weight: var(--button-weight);
  font-size: var(--button-size);
  line-height: calc(var(--button-size) * var(--lineheight));
  text-align: center;
}

#section4 {
  color: #fff;
}

#section4 .inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

#section4 .inner .textbox {
  width: 100%;
}

#section4 .inner .textbox .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#section4 .inner .textbox .title h1 {
  font-family: var(--heading-01-font);
  font-size: var(--heading-01-size);
  line-height: calc(var(--heading-01-size) * var(--lineheight));
}
#section4 .inner .textbox .text {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#section4 .inner .textbox .left {
  width: 50%;
}

#section4 .inner .textbox .left .document {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#section4 .inner .textbox .left .document a {
  display: block;
}

#section4 .inner .textbox .left .document strong {
  font-family: "HakgyoansimAllimjang-B";
  font-size: 24px;
  line-height: calc(24px * var(--lineheight));
}
#section4 .inner .textbox .text .right {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;

  overflow: hidden;
}
#section4 .inner .textbox .text .right .company {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  text-align: end;
}

#section4 .inner .textbox .text .right .company strong {
  font-family: var(--body-03-font);
  font-weight: var(--body-03-weight);
  font-size: var(--body-03-size);
  line-height: calc(var(--body-03-size) * var(--lineheight));
}
#section4 .inner .textbox .text .right .company p {
  font-family: var(--body-03-font);
  font-weight: var(--body-03-weight);
  font-size: var(--body-03-size);
  line-height: calc(var(--body-03-size) * var(--lineheight));
}

#section4 .inner .textbox .text .right .tel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: end;
}

#section4 .inner .textbox .text .right .tel p {
  font-family: var(--body-02-font);
  font-weight: var(--body-02-weight);
  font-size: var(--body-02-size);
  line-height: calc(var(--body-02-size) * var(--lineheight));
}

#section4 .inner .textbox .copyright {
  margin-top: 50px;
}

#section4 .inner .textbox .copyright p {
  font-family: var(--footer-01-font);
  font-size: var(--footer-01-size);
  line-height: calc(var(--footer-01-size) * var(--lineheight));
}
@media screen and (max-width: 1800px) {
  #fullpage {
    padding: 0;
  }

  .inner {
    max-width: 1920px;

    width: calc(100% - 52px);
    margin: 0 auto;
    padding-top: 50px;
  }

  #section2 .inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #section3 .inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #section3 .inner .list {
    /* gap: 100px; */
  }

  #section3 .inner .list .item {
    width: 25%;
  }

  @media screen and (max-width: 760px) {
    #section3 .inner .list {
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 640px) {
    #section1 .inner .list .item {
      width: 42%;
    }
    #section2 .inner .list .text h2 {
      font-family: var(--title-02-font);
      font-size: var(--title-02-size);
      line-height: calc(var(--title-02-size) * var(--lineheight));
    }
    #section2 .inner .list .text p {
      font-family: var(--body-04-font);
      font-weight: var(--body-04-weight);
      font-size: var(--body-04-size);
      line-height: calc((var(--body-04-size) * var(--lineheight)));
    }
  }
}
@media screen and (max-width: 1675px) {
  #section1 .inner .list .item li h3 {
    font-family: "HakgyoansimAllimjang-R";
    font-weight: var(--body-02-weight);
    font-size: var(--body-02-size);
    line-height: calc(var(--body-02-size) * var(--lineheight));
  }

  #section1 .inner .list .item li p {
  }
}

@media screen and (max-width: 1440px) {
  .inner {
    width: calc(100% - 10px);
    padding: 52px 10px;
  }

  #section2 .inner .list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  #section2 .inner .list .text {
    order: 1;
    gap: 20px;
  }

  #section2 .inner .list .text h2 {
    font-family: var(--title-01-font);
    font-size: var(--title-01-size);
    line-height: calc(var(--title-01-size) * var(--lineheight));
  }

  #section2 .inner .list .text p {
    font-family: var(--body-03-font);
    font-weight: var(--body-03-weight);
    font-size: var(--body-03-size);
    line-height: calc(var(--body-03-size) * var(--lineheight));
  }

  #section2 .inner .list .imagebox {
    width: 100%;
    order: 0;
  }
}

@media screen and (max-width: 1353px) {
  #section0 .inner .list .text h2 {
    font-family: var(--title-01-font);
    font-size: var(--title-01-size);
    line-height: calc((var(--title-01-size) * var(--lineheight)));
  }

  #section0 .inner .list .text p {
    font-family: var(--body-03-font);
    font-weight: var(--body-03-weight);
    font-size: var(--body-03-size);
    text-align: calc((var(--body-03-size) * var(--lineheight)));
  }
}

/* PC -> Tabblet */
@media screen and (max-width: 1060px) {
  #section0 .inner .list .text p {
    font-family: var(--body-04-font);
    font-weight: var(--body-04-weight);
    font-size: var(--body-04-size);
    line-height: calc((var(--body-04-size) * var(--lineheight)));
  }
  #section1 .inner .text {
    flex-direction: column;
    align-items: center;
  }
  #section1 .inner .list {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
    row-gap: 50px;
  }
  #section1 .inner .text .text-title {
    margin-top: 50px;
  }

  #section1 .inner .text .text-title h2 {
    text-align: center;
  }
  #section1 .inner .text .text-morepage {
    width: 100%;

    /* font-size: var(--title-03-size);
    line-height: calc(var(--title-03-size) * var(--lineheight)); */
  }
  #section1 .inner .text .text-morepage a {
    text-align: end;
  }

  #section1 .inner .list .item {
    display: block;
    width: 34%;
  }

  #section3 .inner .list {
    margin: 100px 0;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }

  #section3 .inner .list .item {
    width: 51%;
  }

  #section3 .inner .list .item .text {
  }

  #section3 .inner .list .item .text h2 {
    font-size: var(--title-01-size);
    font-family: var(--title-01-font);
    line-height: calc(var(--title-01-size) * var(--lineheight));
  }

  #section3 .inner .list .item .text p {
    font-family: var(--body-01-font);
    font-weight: var(--body-01-weight);
    font-size: var(--body-01-size);
    line-height: calc(var(--body-01-size) * var(--lineheight));
  }

  /* #section3 .inner .list .item .text h2 {
    font-size: var(--body-02-size);
    line-height: calc((var(--body-02-size) * var(--lineheight)));
  }

  #section3 .inner .list .item .text p {
    font-size: var(--body-04-size);
    line-height: calc((var(--body-04-size) * var(--lineheight)));
  } */
}

@media screen and (max-width: 855px) {
  #section4 .inner {
  }

  #section4 .inner .textbox .text {
    flex-direction: column;
    gap: 50px;
  }
  #section4 .inner .textbox .text .left,
  #section4 .inner .textbox .text .right {
    width: 100%;
  }

  #section4 .inner .textbox .left .document {
    flex-direction: row;
    gap: 30px;
  }

  #section4 .inner .textbox .text .right .company {
    gap: 10px;
  }

  #section4 .inner .textbox .text .right .company strong,
  #section4 .inner .textbox .text .right .company p,
  #section4 .inner .textbox .text .right .tel {
    text-align: start;
  }
}

@media screen and (max-width: 760px) {
  #section3 .inner .list .item {
    width: 80%;
  }

  #section3 .inner .list .item .text p {
    font-size: var(--body-03-size);
    line-height: calc(var(--body-03-size) * var(--lineheight));
  }
}

@media screen and (max-width: 510px) {
  #section3 .inner .list .item .text h2 {
    font-size: var(--title-03-size);
    line-height: calc(var(--title-03-size) * var(--lineheight));
  }

  #section4 .inner .textbox .title h1 {
    /* font-weight: var(--title-01-weight);
    font-size: var(--title-01-size);
    line-height: calc(var(--title-01-size) * var(--lineheight)); */

    font-size: 72px;
    line-height: calc(72px * var(--lineheight));
  }
  #section4 .inner .textbox .text .right .company p {
    font-family: var(--body-04-font);
    font-weight: var(--body-04-weight);
    font-size: var(--body-04-size);
    line-height: calc(var(--body-04-size) * var(--lineheight));
  }
}
